{
    "swagger": "2.0",
    "info": {
        "version": "2015-11-01",
        "title": "SubscriptionsManagementClient",
        "description": "The Admin Subscriptions Management Client."
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations": {
            "get": {
                "x-ms-examples": {
                    "Get the list of delegated offers.": {
                        "$ref": "./examples/OfferDelegation/List.json"
                    }
                },
                "description": "Get the list of delegated offers.",
                "tags": [
                    "OfferDelegations"
                ],
                "operationId": "OfferDelegations_List",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DelegatedOfferList"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroup}/providers/Microsoft.Subscriptions.Admin/offers/{offer}/offerDelegations/{delegatedOffer}": {
            "get": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/OfferDelegation/Get.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "OfferDelegations"
                ],
                "operationId": "OfferDelegations_Get",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "#/parameters/DelegatedOfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DelegatedOffer"
                        }
                    },
                    "404": {
                        "description": "NOT FOUND"
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Get the list of offers.": {
                        "$ref": "./examples/OfferDelegation/Create.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "OfferDelegations"
                ],
                "operationId": "OfferDelegations_CreateOrUpdate",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "#/parameters/DelegatedOfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/NewDelegatedOfferParameter"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/DelegatedOffer"
                        }
                    },
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/DelegatedOffer"
                        }                        
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "delete": {
                "x-ms-examples": {
                    "Delete the .": {
                        "$ref": "./examples/OfferDelegation/Delete.json"
                    }
                },
                "description": "Get the list of offers.",
                "tags": [
                    "OfferDelegations"
                ],
                "operationId": "OfferDelegations_Delete",
                "parameters": [
                    {
                        "$ref": "Subscriptions.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ResourceGroupParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/OfferParameter"
                    },
                    {
                        "$ref": "#/parameters/DelegatedOfferParameter"
                    },
                    {
                        "$ref": "Subscriptions.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "204": {
                        "description": "No Content"
                    }                   
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "DelegatedOffer": {
            "description": "Offer delegation.",
            "type": "object",
            "properties": {
                "properties": {
                    "x-ms-client-flatten": true,
                    "description": "Properties for an offer.",
                    "$ref": "#/definitions/DelegatedOfferProperties"
                }
            },
            "allOf": [
                {
                    "$ref": "Subscriptions.json#/definitions/Resource"
                }
            ]
        },
        "DelegatedOfferProperties": {
            "description": "Properties for an offer.",
            "type": "object",
            "properties": {
                "resourceTags": {
                    "description": "Resource tags.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "delegatedProviderSubscriptionId": {
                    "description": "Identifier of the DelegatedProvider subscription that delegated the offer.",
                    "type": "string"
                },
                "offerName": {
                    "description": "Name of the base admin offer.",
                    "type": "string"
                },
                "offerDisplayName": {
                    "description": "Display name of the base admin offer.",
                    "type": "string"
                },
                "offerDescription": {
                    "description": "Description of the base admin offer.",
                    "type": "string"
                },
                "offerResourceGroupName": {
                    "description": "Resource group name of the base admin offer.",
                    "type": "string"
                },
                "delegatedProviderOfferName": {
                    "description": "Name of the base DelegatedProvider offer (when the DelegatedProvider is not the admin subscription).",
                    "type": "string"
                },
                "delegatedProviderOfferDisplayName": {
                    "description": "Display name of the base DelegatedProvider offer (when the DelegatedProvider is not the admin subscription).",
                    "type": "string"
                },
                "delegatedProviderOfferDescription": {
                    "description": "Description of the base DelegatedProvider offer (when the DelegatedProvider is not the admin subscription).",
                    "type": "string"
                },
                "delegatedProviderOfferResourceGroupName": {
                    "description": "Resource group name of the base DelegatedProvider offer (when the DelegatedProvider is not the admin subscription).",
                    "type": "string"
                },
                "subscriptionId": {
                    "description": "Identifier of the subscription receiving the delegated offer.",
                    "type": "string"
                }
            }
        },
        "DelegatedOfferList": {
            "description": ".",
            "properties": {
                "value": {
                    "description": "Array of usage aggregates.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/DelegatedOffer"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "description": "Continuation token"
                }
            }
        }
    },
    "parameters": {
        "DelegatedOfferParameter": {
            "description": "Name of a delgated offer.",
            "name": "delegatedOffer",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "NewDelegatedOfferParameter": {
            "description": "New delegated offer.",
            "name": "newDelegatedOffer",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/DelegatedOffer"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}
